<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD4Zq9Gel0r93Bh93r00Zlenwswz5hl_TM</string>
	<key>GCM_SENDER_ID</key>
	<string>866729725731</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.messanger.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>messanger-66f89</string>
	<key>STORAGE_BUCKET</key>
	<string>messanger-66f89.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:866729725731:ios:c42234398889fe4e42c696</string>
</dict>
</plist>